* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    /* color: white; */
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(1 3 23);
    min-height: 200dvh;
}

main {
    height: 95dvh;
    width: 100%;
    /* background-image: url("More/Afreen.jpeg"); */
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    position: relative;
}

main>.bg {
    height: 130%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    /* opacity: 0.4; */
    /* backdrop-filter: blur(120px); */
    filter: blur(160px);
}

main>* {
    width: 100%;
    color: white;
    position: relative;
    top: 100px;
    /* background-color: red; */

}

.topbar {
    height: 4%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 150;
}

.topbar>h3 {
    font-weight: 400;
    font-size: 12px;
    opacity: 80%;
}

.topbar>i:nth-child(2) {
    color: red;
}

.album-details {
    padding: 20px 0;
    height: 55%;
    /* background-color: rgba(8, 8, 58, 0.303); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    gap: 48px;
}

.album-details img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    /* padding: 2.2px; */
    object-position: top;
    border-radius: 15px;
    box-shadow: 0px 2px 29px 3px #021930;
}

.album-details>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

}

#song-name {
    font-weight: 400;
    font-size: 15px;
}

#song-artist {
    font-weight: 300;
    font-size: 10px;
    color: #c6c6c6;
    /* mix-blend-mode: multiply; */
}

.playlist-heading {
    position: relative;
    z-index: 4;
}

.progress-bar {
    margin: 30px 0 0;
    height: 4%;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.progress-bar .large-bar {
    width: 80%;
    height: 3px;
    background-color: white;
    position: relative;
    z-index: 1;
}

.large-bar .dur-bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6156E2;
    z-index: 2;
    height: 100%;
    width: 0.1%;
}

.durations {
    width: 80%;
    height: 2.5%;
    margin: auto;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.durations>* {
    font-size: 11px;
    font-weight: 400;
}

.playback-btns {
    height: 7%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin: 28px auto 0;
}

.playback-btns>img:nth-child(3) {
    width: 50px;
    margin: 0 10px 0;
}

.playback-btns>img {
    width: 30px;
    object-fit: cover;
}


@media screen and (max-width: 450px) {
    .album-details img {
        height: 70vw;
        width: 70vw;
    }

    .topbar {
        position: fixed;
        top: 7vw;
    }

    .progress-bar {
        /* position: relative; */
        /* top: 10px; */
        margin-top: 10vw;
    }

    .playback-btns {
        margin-top: 8vw;
    }

}

.nav {
    height: 10%;
    width: 100%;
    background-color: red;
    /* position: fixed; */
    bottom: 0px;
    left: 0;
    /* margin-top: 30px; */
}


section {
    /* height: 100vh; */
    width: 100%;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;

}

.hf {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 15px;
    margin-bottom: 30px;
}

section .container #song-name,
section .container #song-artist {
    position: relative;
    right: 12vw;
    ;
}

.hf h1 {
    font-size: 20px;
}

section .container h1 {
    font-size: 13px;
}

.container .lft h5#song-artist {
    color: #a6a6a6;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 12px;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
    position: relative;
}

.lft {
    margin-left: 10vw;
    position: absolute;
    left: 20vw;
}

.container i.ri-play-circle-line {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ccc;
    position: absolute;
    right: 0;
    z-index: 5;
}

.container .more {
    /* position: absolute;
    right: 13vw;
    font-size: 19px; */
    /*     color: lightseagreen; */
    display: none;

}


h1.h {
    position: absolute;
    color: rgb(215, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 20px;
}

.tnail {
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 7vw;
    border-radius: 20%;
}

.overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay h2 {
    /* font-family: "Cedarville Cursive", serif; */
    color: white;
}


main,
section {
    visibility: hidden;
}


.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
    height: 100vh;
    color: white;
}

.overlay h2.sign span {
    font-family: "Cedarville Cursive", serif;
    font-size: 13vw;
    letter-spacing: 1px;
    font-weight: 400;
    display: inline-block;
    opacity: 1;
}

.durElem {
    font-size: 9px;
    color: #8e8e8e;
    position: absolute;
    /* bottom: 0; */
    right: 7vw;
}

.foot {
    border-top: 1px solid rgb(114, 114, 114);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 10px 70px;
    position: relative;
    top: 30px;
}

.foot li {
    font-size: 10px;
}

.captions {
    position: absolute;
    bottom: -100%;
    width: 100%;
    /* height: 14px; */
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    /* height: 8%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 600;
    color: lightblue;
}

.imgcont {
    position: relative;
}
